

h1 {
    font-size: 70px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 45px;
    margin-bottom: 45px;
}

header{
    background-color: rgb(100, 157, 180);
    top: 0;
    width: 100%;
}
nav ul{
    display: flex;
    justify-content: right;
    padding: 1%;
}
 nav a{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 20px;
    font-size: 20px;
    padding: 14px
}

nav a:hover {
    color: black;
}

footer a:hover{
    color: black;
}
main a:hover{
    color: rgb(100, 157, 180) ;
}

#child img:hover{
    opacity: 0.2;
}


a, a:active {
    color: inherit;
    text-decoration: none;
   }
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.about{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;
    display: flex;
    height: fit-content;
    width: 60%;
    align-items: center;
   
}

main {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

.container{
    box-sizing: border-box;
    border-width: 1px;
    padding: 40px;
    width: 50%;
    text-align: center;
}
#child{
    width: 100%;
    text-align: center;

}
#child img{
    opacity: 0.5;
}


h2 {
    position: relative;
    bottom: 20px;
    right: 20px;
    font-size: 40px;
    padding-top: 25px;
    text-align: center;
  }

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    text-align: center;
    padding-top: 30px;
    color: white;
    margin-bottom: 15px;
}


footer{
    background-color: rgb(100, 157, 180);
    width: 100%;
    height: 150px;
    margin: 20px auto;
    position:unset
}   

footer ul{
    display: flex;
    justify-content: center;
    padding: 1%;
}
footer ul li{
    font-size: 20px;
    display: inline;
    color: white;
    margin-left: 20px;
}


footer a{
    color: white;
}

@media screen and (max-width: 576px) {
    main{
        flex-direction: column;
     
    }
    .container{
        width: fit-content;
        width: 100%;
        text-align: center;
    }

    #child{
        width: fit-content;
        width: 100%;
        text-align: center;
    }
    
    .about{
        width: 100%;
        height: fit-content;
        text-align: center;
    }
   
    nav ul{
        flex-direction: column;
        text-align: center;
    }
  
    footer ul{
        flex-direction: column;
        text-align: center;

    }
  }
  
    
  @media screen and (max-width: 768px) {
    main{
        flex-direction: column;
     
    }
    .container{
        width: fit-content;
        width: 100%;
        text-align: center;
    }

    #child{
        width: fit-content;
        width: 100%;
        text-align: center;
    }
    
    .about{
        width: 100%;
        height: fit-content;
        text-align: center;
    }
   
    nav ul{
        flex-direction: column;
        text-align: right;
    }
  
    footer ul{
        flex-direction: column;
        text-align: right;

    }
  }
  @media screen and (max-width: 1024px) {
    main{
        flex-direction: column;
     
    }
    .container{
        width: fit-content;
        width: 100%;
        text-align: center;
    }

    #child{
        width: fit-content;
        width: 100%;
        text-align: center;
    }
    
    .about{
        width: 100%;
        height: fit-content;
        text-align: center;
    }
   
    nav ul{
        flex-direction: column;
        text-align: right;
    }
  
    footer ul{
        flex-direction: column;
        text-align: right;

    }
  }